@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.button-right {
  display: flex;
  flex-direction: row-reverse;
}

.btn-primary {
  background-color: #3a51ff !important;
  color: white !important;
}

.navblue {
  background-color: #ffffff;
  /* #079191 */
}

.xlabel {
  color: #595959;
}

.bg-outcome {
  padding: 10px;
  background-color: #ffffff;
  color: rgb(34, 34, 34);
  border-radius: 10px;
  border: 2px solid #3a51ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: scroll;
}

.showOrNot {
  display: none;
}

.navside {
  background-color:#273cd8;
  /* background-image: linear-gradient(to right, #37bb9d, #079191); */
}

.img-logo {
  padding: 10px;
  max-width: 180px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.logo-errors {
  padding: 10px;
  max-width: 380px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.img-main {
  padding: 10px;
  max-width: 500px !important;
  margin-top: 15px;
  margin-bottom: 20px;
}

.btn-exp{
  color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-function {
  color: black !important;
  background-color: none !important;
  border: 1px solid black !important;
  border-radius: 10px !important;
}

.btn-delete {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(255, 0, 0) !important;
  border: 1px solid rgb(255, 255, 255) !important;
  border-radius: 10px !important;
}

a {
  color: #4ee9c5;
}

.side-txt {
  background-color: rgb(39, 60, 216) !important;
  font-size: 1.3rem;
  text-align: center !important;
  color: rgb(255, 255, 255) !important;
}

.sign-out {
  color: black;
}
.sign-out:hover {
  color: rgb(255, 0, 0);
}

.nav-items {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  border: none;
  background: none;
}

.modal-des {
  height: 500px; 
  overflow: scroll;
}

* {
  font-family: 'Ubuntu', sans-serif !important;
}

.navbar-toggler {
  display: none !important;
  /* visibility: hidden; */
}

.breadcrumb {
  background-color: rgb(250, 250, 250) !important;
}



body {
  background-color: rgb(250, 250, 250) !important;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  background-color: #ffffff;
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;

}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

#loading {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.caption-chart {
  font-size: small;
  color: #4f4f4f;
  padding: 10px;
  background-color: #e8e8e8;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.caption-H-NO-FBS{
  font-size: small;
  color: rgb(0, 0, 0);
  padding: 10px;
  background-color: rgb(100, 255, 100);
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.caption-H-FBS{
  font-size: small;
  color: #ffffff;
  padding: 10px;
  background-color: rgb(50, 130, 255);
  border-radius: 10px;
  margin-left: 2px;
}

.caption-C-FBS{
  font-size: small;
  color: #ffffff;
  padding: 10px;
  background-color: rgb(255, 0, 0, 1);
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.caption-C-NO-FBS{
  font-size: small;
  color: #000000;
  padding: 10px;
  background-color: rgb(250, 150, 150, 1);
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
}