<script type="text/javascript" src="{{ url_for('static', filename = 'js/system.js') }}"></script>

{# Modal used to add a patient. #}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Patient</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form id='form' action='/patients/' class="p-1 mt-3 mb-3" method="POST">

                    <!-- <label for="inputName">First Name</label>
                    <input name="name" type="name" class="form-control mb-3" id="inputName" placeholder="Enter name..." data-parsley-pattern="^[a-zA-Z]+$" required>

                    <label for="lastName">Last Name</label>
                    <input name="lastName" type="lastName" class="form-control mb-3" id="lastName" placeholder="Enter last name..." required> -->

                    <!-- <label for="inputEmail">Email</label>
                    <input name="email" type="email" class="form-control mb-3" id="inputEmail" placeholder="Enter email..."> -->

                    <label for="inputAge">Age</label>
                    <input name="age" type="age" class="form-control mb-3" id="inputAge" placeholder="Enter age..."  min="0" max="120" data-parsley-type="integer" required>

                    <label for="inputGender">Gender</label>
                    <select name="gender" class="form-control" id="inputGender" required>
                        <option value='0'>Male</option>
                        <option value='1'>Female</option>
                    </select>
                   
                    <input hidden id="user_id" name="user_id">

                    <button type="submit" class="btn btn-function center mt-4">Add Patient</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#form').parsley()
    });
</script>