<div id="accordion">

    <div class="card mt-3 mb-3">
        <div class="card-header text-center" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                    aria-controls="collapseOne">
                    <h4 class="black"><i class="fas fa-plus-circle"></i> Add Patient</h4>
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae totam adipisci mollitia,
                    porro aspernatur, tempora quos libero minima nesciunt delectus perferendis eum est a quidem
                    accusamus voluptatibus quod laudantium! Expedita.</p>
                <img src="{{ url_for('static', filename='add_patient.png') }}" class="rounded mx-auto d-block image-first-about" alt="...">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla nemo aperiam placeat provident,
                    iure necessitatibus itaque! Doloremque illo molestiae, dolorum, placeat quasi doloribus est
                    molestias incidunt, praesentium numquam maxime id.</p>
                <img src="{{ url_for('static', filename='patient_added.png') }}" class="rounded mx-auto d-block image-about" alt="...">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aut molestiae excepturi odit!
                    Vel inventore magni tenetur quos harum necessitatibus mollitia ipsa voluptatum facilis, illo
                    nemo alias aut reprehenderit quia.</p>
            </div>
        </div>
    </div>

    <div class="card mt-3 mb-3">
        <div class="card-header text-center" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    <h4 class="black"><i class="fas fa-heartbeat"></i> Diagnose</h4>
                    </p>
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae totam adipisci mollitia,
                    porro aspernatur, tempora quos libero minima nesciunt delectus perferendis eum est a quidem
                    accusamus voluptatibus quod laudantium! Expedita.</p>
                <img src="{{ url_for('static', filename='diagnose.png') }}" class="rounded mx-auto d-block image-about" alt="...">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla nemo aperiam placeat provident,
                    iure necessitatibus itaque! Doloremque illo molestiae, dolorum, placeat quasi doloribus est
                    molestias incidunt, praesentium numquam maxime id.</p>
                <img src="{{ url_for('static', filename='diagnose_form.png') }}" class="rounded mx-auto d-block image-about" alt="...">
            </div>
        </div>
    </div>

    <div class="card mt-3 mb-3">
        <div class="card-header text-center" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    <h4 class="black"><i class="fas fa-stethoscope"></i> Treat</h4>
                    </p>
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae totam adipisci mollitia,
                    porro aspernatur, tempora quos libero minima nesciunt delectus perferendis eum est a quidem
                    accusamus voluptatibus quod laudantium! Expedita.</p>
                <img src="{{ url_for('static', filename='results.png') }}" class="rounded mx-auto d-block image-about" alt="...">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla nemo aperiam placeat provident,
                    iure necessitatibus itaque! Doloremque illo molestiae, dolorum, placeat quasi doloribus est
                    molestias incidunt, praesentium numquam maxime id.</p>
                <img src="{{ url_for('static', filename='graphs.png') }}" class="rounded mx-auto d-block image-about" alt="...">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aut molestiae excepturi odit!
                    Vel inventore magni tenetur quos harum necessitatibus mollitia ipsa voluptatum facilis, illo
                    nemo alias aut reprehenderit quia.</p>
                <img src="{{ url_for('static', filename='comment.png') }}" class="rounded mx-auto d-block image-about" alt="...">
            </div>
        </div>
    </div>
</div>