<form id='form' action='/edit/?uid={{uid}}&pid={{pid}}' class="p-1 mt-3 mb-3" method="POST">

    <label for="inputName">Full Name</label>
    <input name="name" class="form-control mb-3" id="inputName" value={{name}} placeholder="Enter name..." required>

    <label for="inputEmail">Email</label>
    <input name="email" type="email" class="form-control mb-3" id="inputEmail" value={{email}} placeholder="Enter email..." required>

    <label for="inputAge">Age</label>
    <input name="age" type="age" class="form-control mb-3" id="inputAge" value={{age}} placeholder="Enter age..." required>

    <label for="inputGender">Gender</label>
    <select name="gender" class="form-control" id="inputGender" value={{gender}} required>
        <option value='0'>Male</option>
        <option value='1'>Female</option>
    </select>

    <button type="submit" class="btn btn-function center mt-4">Update Patient</button>
</form>
