<div id='report'>
    <h3 class="text-center mt-5">Patient vs Healthy vs Cardio</h3>
    <canvas id="rbs_chol_max"></canvas>

    <div class="mt-3" id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-exp" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        <i class="fas fa-question-circle"></i>
                        Explanation of values for each parameter in the graph
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <h5>Chest pain type</h5>
                    <p>typical - 1, typical angina - 2, non- anginal pain - 3, asymptomatic - 4</p>
                    <h5>Fasting blood sugar</h5>
                    <p>more than 120 mg/dl - 1, less or equal than 120 mg/dl - 0</p>
                    <h5>Resting ECG</h5>
                    <p>Normal - 0, Abnormality in ST-T wave - 1, Left ventricular hypertrophy - 2</p>
                    <h5>Exercise Angina</h5>
                    <p>No - 0, Yes - 1</p>
                    <h5>Oldpeak</h5>
                    <p>Exercise induced ST-depression in comparison with the state of rest (Numerical)</p>
                    <h5>St Slope</h5>
                    <p>Normal - 0, Upsloping - 1, Flat - 2, Downsloping - 3</p>
                </div>
            </div>
        </div>
    </div>

    <div class="html2pdf__page-break"></div>

    <h3 class="text-center mt-5">Patient vs Healthy vs Cardio</h3>
    <canvas id="second_graph"></canvas>

    <div class="html2pdf__page-break"></div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center mt-5">Age of Patients vs Cholestrol</h3>
            <canvas id="scatterChol" width="450" height="300"></canvas>
            <h5 class="text-center xlabel">Age of Patients</h5>
        </div>

        <div class="col-md-6">
            <h3 class="text-center mt-5">Patient vs Healthy/Cardio Cholestrol %</h3>
            <p class="text-center"><span class="caption-H-NO-FBS">Healthy - % Less chol</span><span
                    class="caption-H-FBS">Healthy - % More chol</span><br><br><span
                    class="caption-C-NO-FBS">Cardio - % Less chol</span><span class="caption-C-FBS">Cardio
                    - % More chol</span></p>
            <canvas id="cholMoreLessChart" width="400" height="215"></canvas>
        </div>
    </div>
    
    <div class="html2pdf__page-break"></div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center mt-5">Age of Patients vs RBP</h3>
            <canvas id="scatterRBP" width="450" height="300"></canvas>
            <h5 class="text-center xlabel">Age of Patients</h5>
        </div>

        <div class="col-md-6">
            <h3 class="text-center mt-5">Patient vs Healthy/Cardio RBP %</h3>
            <p class="text-center"><span class="caption-H-NO-FBS">Healthy - % Less RBP</span><span
                    class="caption-H-FBS">Healthy - % More RBP</span><br><br><span
                    class="caption-C-NO-FBS">Cardio - % Less RBP</span><span class="caption-C-FBS">Cardio
                    - % More RBP</span></p>
            <canvas id="RBPMoreLessChart" width="400" height="215"></canvas>
        </div>
    </div>

    <div class="html2pdf__page-break"></div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center mt-5">Age of Patients vs Max Heart</h3>
            <canvas id="scatterHeart" width="450" height="300"></canvas>
            <h5 class="text-center xlabel">Age of Patients</h5>
        </div>

        <div class="col-md-6">
            <h3 class="text-center mt-5">Patient vs Healthy/Cardio RBP %</h3>
            <p class="text-center"><span class="caption-H-NO-FBS">Healthy - % Less Max Heart</span><span
                    class="caption-H-FBS">Healthy - % More Max Heart</span><br><br><span
                    class="caption-C-NO-FBS">Cardio - % Less Max Heart</span><span class="caption-C-FBS">Cardio
                    - % More Max Heart</span></p>
            <canvas id="HeartMoreLessChart" width="400" height="215"></canvas>
        </div>
    </div>

    <div class="html2pdf__page-break"></div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center mt-5">Age of Patients vs ECG</h3>
            <canvas id="scatterECG" width="450" height="300"></canvas>
            <h5 class="text-center xlabel">Age of Patients</h5>
        </div>

        <div class="col-md-6">
            <h3 class="text-center mt-5">Age of Patients vs Chest Pain Type</h3>
            <canvas id="scatterChest" width="450" height="300"></canvas>
            <h5 class="text-center xlabel">Age of Patients</h5>
        </div>
    </div>

    <div class="html2pdf__page-break"></div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center mt-5">Healthy/Cardio FBS vs NO FBS</h3>
            <p class="text-center"><span class="caption-H-NO-FBS">Healthy - FBS <= 120 mg/dl</span><span
                            class="caption-H-FBS">Healthy - FBS > 120 mg/dl</span><br><br><span
                            class="caption-C-NO-FBS">Cardio - FBS <= 120 mg/dl</span><span class="caption-C-FBS">Cardio
                                    - FBS > 120 mg/dl</span></p>
            <canvas id="myChart" width="400" height="250"></canvas>
        </div>

        <div class="col-md-6">
            <h3 class="text-center mt-5">Age of Patients vs Oldpeak</h3>
            <canvas id="scatterOldpeak" width="450" height="300"></canvas>
            <h5 class="text-center xlabel">Age of Patients</h5>
        </div>
    </div>

    <div class="html2pdf__page-break"></div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center mt-5">Healthy/Cardio Exercise Angina</h3>
            <p class="text-center"><span class="caption-H-NO-FBS">Healthy - NO Ex.Angina</span><span
                    class="caption-H-FBS">Healthy - Ex. Angina</span><br><br><span class="caption-C-NO-FBS">Cardio - NO
                    Ex.Angina</span><span class="caption-C-FBS">Cardio - Ex.Angina</span></p>
            <canvas id="exangChart" width="400" height="250"></canvas>
        </div>

        <div class="col-md-6">
            <h3 class="text-center mt-5">Age of Patients vs ST Slope</h3>
            <canvas id="scatterStSlope" width="450" height="300"></canvas>
            <h5 class="text-center xlabel">Age of Patients</h5>
        </div>
    </div>

</div>


<script>


    var dataX = {{ graphOne| tojson }};
    var healthyAvg = {{ healthyAvg| tojson }};
    var cardioAvg = {{ cardioAvg| tojson }};

    var ctx = document.getElementById("rbs_chol_max").getContext("2d");
    var chart = new Chart(ctx, { // The type of chart we want to create
        type: "radar",

        // The data for our dataset
        data: {
            labels: [
                "Chest pain type",
                "Fasting blood sugar",
                "Resting ecg",
                "Exercise angina",
                "Oldpeak",
                "ST slope"
            ],
            datasets: [
                {
                    label: "Patient Values",
                    pointBackgroundColor: "rgb(0, 0, 0,0.2)",
                    borderColor: "rgb(0, 0, 0)",
                    data: dataX
                }, {
                    label: "Average Healthy Values",
                    pointBackgroundColor: "rgb(0, 255, 0,0.3)",
                    borderColor: "rgb(0, 255, 0)",
                    data: healthyAvg
                }, {
                    label: "Average Cardio Values",
                    pointBackgroundColor: "rgb(255, 0, 0,0.3)",
                    borderColor: "rgb(255, 0, 0)",
                    data: cardioAvg
                },
            ]
        },

        // Configuration options go here
        options: {
            scale: {
                pointLabels: {
                    fontSize: 17
                }
            }
        }
    });

    var dataTwo = {{ graphTwo| tojson }};
    var healthySecAvg = {{ healthySecAvg| tojson }};
    var cardioSecAvg = {{ cardioSecAvg| tojson }};


    var ctx = document.getElementById("second_graph").getContext("2d");
    var chart = new Chart(ctx, { // The type of chart we want to create
        type: "radar",

        // The data for our dataset
        data: {
            labels: [
                "Resting BP S", "Cholestrol", "Max heart"
            ],
            datasets: [
                {
                    label: "Patient Values",
                    pointBackgroundColor: "rgb(0, 0, 0,0.2)",
                    borderColor: "rgb(0, 0, 0)",
                    data: dataTwo
                }, {
                    label: "Average Healthy Values",
                    pointBackgroundColor: "rgb(0, 255, 0,0.3)",
                    borderColor: "rgb(0, 255, 0)",
                    data: healthySecAvg
                }, {
                    label: "Average Cardio Values",
                    pointBackgroundColor: "rgb(255, 0, 0,0.3)",
                    borderColor: "rgb(255, 0, 0)",
                    data: cardioSecAvg
                },
            ]
        },

        // Configuration options go here
        options: {
            scale: {
                pointLabels: {
                    fontSize: 17
                }
            }
        }
    });


    var healChol = {{ healthyChol }}
    var cardioChol = {{ cardioChol }}

    var healAge = {{ healthyAge }}
    var cardioAge = {{ cardioAge }}
    //
    let healthy = healAge.map((v, i) => ({ x: v, y: healChol[i] }))
    let cardio = cardioAge.map((v, i) => ({ x: v, y: cardioChol[i] }))

    // Patient data.
    let patientX = [{{ age }}]
    let patientY = [{{ chol }}]

    let patient = patientX.map((v, i) => ({ x: v, y: patientY[i] }))
    var ctx2 = document.getElementById("scatterChol").getContext("2d");
    var scatterChart = new Chart(ctx2, {
        type: 'scatter',
        data: {
            datasets: [
                {
                    label: 'Healthy',
                    pointBackgroundColor: "rgb(0, 255, 0, 0.3)",
                    borderColor: "rgb(0, 255, 0)",
                    data: healthy
                }, {
                    label: 'Cardio',
                    pointBackgroundColor: "rgb(255, 0, 0, 0.3)",
                    borderColor: "rgb(255, 0, 0)",
                    data: cardio
                }, {
                    label: 'Patient',
                    pointBackgroundColor: "rgb(0, 0, 255)",
                    borderColor: "rgb(0, 0, 255)",
                    data: patient,
                    pointRadius: 10,
                    pointHoverRadius: 12
                }
            ],
            options: {}
        }
    });

    var ctxCholMoreLess = document.getElementById("cholMoreLessChart").getContext("2d");

    var healCholMoreLess = {{ healthyCholMoreLess }}
    var cardioCholMoreLess = {{ cardioCholMoreLess }}
    var data = {

        datasets: [
            {
                backgroundColor: ["rgb(100, 255, 100)", "rgb(50, 130, 255)"],
                data: healCholMoreLess,
                label: 'Healthy',
                labels: ['Healthy - No Ex. Angina ', 'Healthy - Ex. Angina']
            }, {
                backgroundColor: ["rgb(250, 150, 150, 1)", "rgb(255, 0, 0, 1)"],
                data: cardioCholMoreLess,
                label: 'Cardio',
                labels: ['Cardio - No Ex. Angina ', 'Cardio - Ex. Angina']
            }
        ],

    };

    var myBarChart = new Chart(ctxCholMoreLess, {
        type: 'doughnut',
        data: data,
        options: {
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, data) {
                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        var total = dataset.data.reduce(function (previousValue, currentValue, currentIndex, array) {
                            return previousValue + currentValue;
                        });
                        var currentValue = dataset.data[tooltipItem.index];
                        var percentage = Math.floor(((currentValue / total) * 100) + 0.5);
                        return percentage + "% - "+currentValue+" patients";
                    }
                }
            }
        }
    });

    var healRBP = {{ healthyRBP }}
    var cardioRBP = {{ cardioRBP }}

    let healthy2 = healAge.map((v, i) => ({ x: v, y: healRBP[i] }))
    let cardio2 = cardioAge.map((v, i) => ({ x: v, y: cardioRBP[i] }))

    let patientY2 = [{{ rbp }}]
    let patient2 = patientX.map((v, i) => ({ x: v, y: patientY2[i] }))
    var ctx2 = document.getElementById("scatterRBP").getContext("2d");
    var scatterChart = new Chart(ctx2, {
        type: 'scatter',
        data: {
            datasets: [
                {
                    label: 'Healthy',
                    pointBackgroundColor: "rgb(0, 255, 0, 0.3)",
                    borderColor: "rgb(0, 255, 0)",
                    data: healthy2
                }, {
                    label: 'Cardio',
                    pointBackgroundColor: "rgb(255, 0, 0, 0.3)",
                    borderColor: "rgb(255, 0, 0)",
                    data: cardio2
                }, {
                    label: 'Patient',
                    pointBackgroundColor: "rgb(0, 0, 255)",
                    borderColor: "rgb(0, 0, 255)",
                    data: patient2,
                    pointRadius: 10,
                    pointHoverRadius: 12
                }
            ],
            options: {
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'probability'
                        }
                    }]
                }
            }
        }
    });

    var ctxRBPMoreLess = document.getElementById("RBPMoreLessChart").getContext("2d");

    var healRBPMoreLess = {{ healthyRBPMoreLess }}
    var cardioRBPMoreLess = {{ cardioRBPMoreLess }}
    var data = {

        datasets: [
            {
                backgroundColor: ["rgb(100, 255, 100)", "rgb(50, 130, 255)"],
                data: healRBPMoreLess,
                label: 'Healthy',
                labels: ['Healthy - No Ex. Angina ', 'Healthy - Ex. Angina']
            }, {
                backgroundColor: ["rgb(250, 150, 150, 1)", "rgb(255, 0, 0, 1)"],
                data: cardioRBPMoreLess,
                label: 'Cardio',
                labels: ['Cardio - No Ex. Angina ', 'Cardio - Ex. Angina']
            }
        ],

    };

    var myBarChart = new Chart(ctxRBPMoreLess, {
        type: 'doughnut',
        data: data,
        options: {
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, data) {
                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        var total = dataset.data.reduce(function (previousValue, currentValue, currentIndex, array) {
                            return previousValue + currentValue;
                        });
                        var currentValue = dataset.data[tooltipItem.index];
                        var percentage = Math.floor(((currentValue / total) * 100) + 0.5);
                        return percentage + "% - "+currentValue+" patients";
                    }
                }
            }
        }
    });

    var healHeart = {{ healthyHeart }}
    var cardioHeart = {{ cardioHeart }}

    let healthy3 = healAge.map((v, i) => ({ x: v, y: healHeart[i] }))
    let cardio3 = cardioAge.map((v, i) => ({ x: v, y: cardioHeart[i] }))

    let patientY3 = [{{ maxHeart }}]
    let patient3 = patientX.map((v, i) => ({ x: v, y: patientY3[i] }))
    var ctx2 = document.getElementById("scatterHeart").getContext("2d");
    var scatterChart = new Chart(ctx2, {
        type: 'scatter',
        data: {
            datasets: [
                {
                    label: 'Healthy',
                    pointBackgroundColor: "rgb(0, 255, 0, 0.3)",
                    borderColor: "rgb(0, 255, 0)",
                    data: healthy3
                }, {
                    label: 'Cardio',
                    pointBackgroundColor: "rgb(255, 0, 0, 0.3)",
                    borderColor: "rgb(255, 0, 0)",
                    data: cardio3
                }, {
                    label: 'Patient',
                    pointBackgroundColor: "rgb(0, 0, 255)",
                    borderColor: "rgb(0, 0, 255)",
                    data: patient3,
                    pointRadius: 10,
                    pointHoverRadius: 12
                }
            ],
            options: {

                scales: {
                    y: {
                        suggestedMin: 50,
                        suggestedMax: 100
                    }

                }
            }
        }
    });


    var ctxHeartMoreLess = document.getElementById("HeartMoreLessChart").getContext("2d");

    var healHeartMoreLess = {{ healthyMaxHeartMoreLess }}
    var cardioHeartMoreLess = {{ cardioMaxHeartMoreLess }}
    var data = {

        datasets: [
            {
                backgroundColor: ["rgb(100, 255, 100)", "rgb(50, 130, 255)"],
                data: healHeartMoreLess,
                label: 'Healthy',
                labels: ['Healthy - No Ex. Angina ', 'Healthy - Ex. Angina']
            }, {
                backgroundColor: ["rgb(250, 150, 150, 1)", "rgb(255, 0, 0, 1)"],
                data: cardioHeartMoreLess,
                label: 'Cardio',
                labels: ['Cardio - No Ex. Angina ', 'Cardio - Ex. Angina']
            }
        ],

    };

    var myBarChart = new Chart(ctxHeartMoreLess, {
        type: 'doughnut',
        data: data,
        options: {
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, data) {
                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        var total = dataset.data.reduce(function (previousValue, currentValue, currentIndex, array) {
                            return previousValue + currentValue;
                        });
                        var currentValue = dataset.data[tooltipItem.index];
                        var percentage = Math.floor(((currentValue / total) * 100) + 0.5);
                        return percentage + "% - "+currentValue+" patients";
                    }
                }
            }
        }
    });



    var healChest = {{ healthyChest }}
    var cardioChest = {{ cardioChest }}

    let healthy4 = healAge.map((v, i) => ({ x: v, y: healChest[i] }))
    let cardio4 = cardioAge.map((v, i) => ({ x: v, y: cardioChest[i] }))

    let patientY4 = [{{ chest }}]
    let patient4 = patientX.map((v, i) => ({ x: v, y: patientY4[i] }))
    var ctx2 = document.getElementById("scatterChest").getContext("2d");
    var scatterChart = new Chart(ctx2, {
        type: 'scatter',
        data: {
            datasets: [
                {
                    label: 'Healthy',
                    pointBackgroundColor: "rgb(0, 255, 0, 0.3)",
                    borderColor: "rgb(0, 255, 0)",
                    data: healthy4
                }, {
                    label: 'Cardio',
                    pointBackgroundColor: "rgb(255, 0, 0, 0.3)",
                    borderColor: "rgb(255, 0, 0)",
                    data: cardio4
                }, {
                    label: 'Patient',
                    pointBackgroundColor: "rgb(0, 0, 255)",
                    borderColor: "rgb(0, 0, 255)",
                    data: patient4,
                    pointRadius: 10,
                    pointHoverRadius: 12
                }
            ],
            options: {
                yAxes: [
                    {
                        ticks: {
                            min: 1, // 18.1 * 8
                            max: 4, // 18.1 * 13
                            stepSize: 1
                        }
                    }
                ]
            }
        }
    });


    var ctx = document.getElementById("myChart").getContext("2d");

    var healFBS = {{ healthyFBS }}
    var cardioFBS = {{ cardioFBS }}
    var data = {

        datasets: [
            {
                backgroundColor: ["rgb(100, 255, 100)", "rgb(50, 130, 255)"],
                data: healFBS,
                label: 'Healthy',
                labels: ['Healthy - No FBS ', 'Healthy - FBS']
            }, {
                backgroundColor: ["rgb(250, 150, 150, 1)", "rgb(255, 0, 0, 1)"],
                data: cardioFBS,
                label: 'Cardio',
                labels: ['Cardio - No FBS ', 'Cardio - FBS']
            }
        ],

    };

    var myBarChart = new Chart(ctx, {
        type: 'doughnut',
        data: data,
        options: {
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, data) {
                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        var index = tooltipItem.index;
                        return dataset.labels[index] + ": " + dataset.data[index];
                    }
                }
            }
        }
    });


    var healOldpeak = {{ healthyOldpeak }}
    var cardioOldpeak = {{ cardioOldpeak }}

    let healthy5 = healAge.map((v, i) => ({ x: v, y: healOldpeak[i] }))
    let cardio5 = cardioAge.map((v, i) => ({ x: v, y: cardioOldpeak[i] }))

    let patientY5 = [{{ oldpeak }}]
    let patient5 = patientX.map((v, i) => ({ x: v, y: patientY5[i] }))
    var ctx2 = document.getElementById("scatterOldpeak").getContext("2d");
    var scatterChart = new Chart(ctx2, {
        type: 'scatter',
        data: {
            datasets: [
                {
                    label: 'Healthy',
                    pointBackgroundColor: "rgb(0, 255, 0, 0.3)",
                    borderColor: "rgb(0, 255, 0)",
                    data: healthy5
                }, {
                    label: 'Cardio',
                    pointBackgroundColor: "rgb(255, 0, 0, 0.3)",
                    borderColor: "rgb(255, 0, 0)",
                    data: cardio5
                }, {
                    label: 'Patient',
                    pointBackgroundColor: "rgb(0, 0, 255)",
                    borderColor: "rgb(0, 0, 255)",
                    data: patient5,
                    pointRadius: 10,
                    pointHoverRadius: 12
                }
            ],
            options: {
                yAxes: [
                    {
                        ticks: {
                            min: 1, // 18.1 * 8
                            max: 4, // 18.1 * 13
                            stepSize: 1
                        }
                    }
                ]
            }
        }
    });


    var ctxExang = document.getElementById("exangChart").getContext("2d");

    var healExang = {{ healthyExang }}
    var cardioExang = {{ cardioExang }}
    var data = {

        datasets: [
            {
                backgroundColor: ["rgb(100, 255, 100)", "rgb(50, 130, 255)"],
                data: healExang,
                label: 'Healthy',
                labels: ['Healthy - No Ex. Angina ', 'Healthy - Ex. Angina']
            }, {
                backgroundColor: ["rgb(250, 150, 150, 1)", "rgb(255, 0, 0, 1)"],
                data: cardioExang,
                label: 'Cardio',
                labels: ['Cardio - No Ex. Angina ', 'Cardio - Ex. Angina']
            }
        ],

    };

    var myBarChart = new Chart(ctxExang, {
        type: 'doughnut',
        data: data,
        options: {
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, data) {
                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        var index = tooltipItem.index;
                        return dataset.labels[index] + ": " + dataset.data[index];
                    }
                }
            }
        }
    });


    var healStSlope = {{ healthyStSlope }}
    var cardioStSlope = {{ cardioStSlope }}

    let healthy6 = healAge.map((v, i) => ({ x: v, y: healStSlope[i] }))
    let cardio6 = cardioAge.map((v, i) => ({ x: v, y: cardioStSlope[i] }))

    let patientY6 = [{{ stslope }}]
    let patient6 = patientX.map((v, i) => ({ x: v, y: patientY6[i] }))
    var ctx2 = document.getElementById("scatterStSlope").getContext("2d");
    var scatterChart = new Chart(ctx2, {
        type: 'scatter',
        data: {
            datasets: [
                {
                    label: 'Healthy',
                    pointBackgroundColor: "rgb(0, 255, 0, 0.3)",
                    borderColor: "rgb(0, 255, 0)",
                    data: healthy6
                }, {
                    label: 'Cardio',
                    pointBackgroundColor: "rgb(255, 0, 0, 0.3)",
                    borderColor: "rgb(255, 0, 0)",
                    data: cardio6
                }, {
                    label: 'Patient',
                    pointBackgroundColor: "rgb(0, 0, 255)",
                    borderColor: "rgb(0, 0, 255)",
                    data: patient6,
                    pointRadius: 10,
                    pointHoverRadius: 12
                }
            ],
            options: {
                yAxes: [
                    {
                        ticks: {
                            min: 1, // 18.1 * 8
                            max: 4, // 18.1 * 13
                            stepSize: 1
                        }
                    }
                ]
            }
        }
    });

    var healECG = {{ healthyECG }}
    var cardioECG = {{ cardioECG }}

    let healthy7 = healAge.map((v, i) => ({ x: v, y: healECG[i] }))
    let cardio7 = cardioAge.map((v, i) => ({ x: v, y: cardioECG[i] }))

    let patientY7 = [{{ ecg }}]
    let patient7 = patientX.map((v, i) => ({ x: v, y: patientY7[i] }))
    var ctx2 = document.getElementById("scatterECG").getContext("2d");
    var scatterChart = new Chart(ctx2, {
        type: 'scatter',
        data: {
            datasets: [
                {
                    label: 'Healthy',
                    pointBackgroundColor: "rgb(0, 255, 0, 0.3)",
                    borderColor: "rgb(0, 255, 0)",
                    data: healthy7
                }, {
                    label: 'Cardio',
                    pointBackgroundColor: "rgb(255, 0, 0, 0.3)",
                    borderColor: "rgb(255, 0, 0)",
                    data: cardio7
                }, {
                    label: 'Patient',
                    pointBackgroundColor: "rgb(0, 0, 255)",
                    borderColor: "rgb(0, 0, 255)",
                    data: patient7,
                    pointRadius: 10,
                    pointHoverRadius: 12
                }
            ],
            options: {
                yAxes: [
                    {
                        ticks: {
                            min: 1, // 18.1 * 8
                            max: 4, // 18.1 * 13
                            stepSize: 1
                        }
                    }
                ]
            }
        }
    });

</script>