{# Form used to login a user. #}
<form id='form' action='/login' class="p-1 mt-3 mb-3 box p-5" method="POST">
    <h3 class="mb-4"><i class="fas fa-user-md"></i> Login</h3>
    {% include 'includes/_update_msg.html' %}
    <div class="form-row">
        <label for="email">Email</label>
        <input name="email" type="email" class="form-control mb-3" id="email" placeholder="Enter email..." data-parsley-pattern="^[a-zA-Z]+$" required>
    </div>

    <div class="form-row">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control mb-3" id="password" placeholder="Enter password...">
    </div>
    <div class="form-row">
        <button type="submit" class="btn btn-function center mt-2"><i class="fas fa-sign-in-alt"></i> Login</button>
    </div>

    <a href="/signup"><h5 class="mt-4 text-center"> Sign Up</h5></a>
</form>

