<form id='form' action='/patients/' class="p-1 mt-3 mb-3" method="POST">

    <label for="email">Email</label>
    <input name="email" type="email" class="form-control mb-3" id="email" placeholder="Enter email..." data-parsley-pattern="^[a-zA-Z]+$" required>

    <label for="password">Password</label>
    <input name="password" type="password" class="form-control mb-3" id="password" placeholder="Enter password...">


    <button type="submit" class="btn btn-function center mt-4">Add Patient</button>
</form>