<nav class="navbar navbar-expand-lg navbar-light navblue border-bottom">
    <button id="menu-toggle" class="nav-items"><i class="fas fa-bars" ></i> </button>
    <div class="nav-items ml-3"><i class="fas fa-heartbeat"></i> Cardio</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </nav>