<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Patient Details</th>
            <th scope="col">Diagnosis History</th>
            <th scope="col">Latest Diagnosis Result</th>
            <th scope="col">Diagnose</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td><a href="./diagnose.html"><i class="fas fa-info-circle"></i> Info</a></td>
            <td><a href="./diagnose.html"><i class="fas fa-file-medical-alt"></i> History</a></td>
            <td>
                <h5><span class="badge badge-danger">Cardio Disease</span></h5>
            </td>
            <td><a href="/diagnose" class="btn btn-function"><i class="fas fa-heartbeat"></i> Diagnose</a></td>
        </tr>

    </tbody>
</table>