<script>
    //TODO: 1) SAVE PDF URL TO DATABASE. FLASK METHOD, LIKE COMMENT! 2) CALL URL FROM HISTORY VIEW LIKE THIS.
    window.onload = function () {
      setTimeout(loadAfterTime, 2000);
    };
  
    function loadAfterTime() {
      const report = this.document.getElementById("report");
  
      //initialise variables.
      userid = {{ uid|tojson }};
      patientid = {{ pid|tojson }};
      name = {{ ct | tojson }};
  
      console.log(`${userid} ${patientid} ${name}`);
      var opt = {
        filename: name,
        image: { type: 'jpeg', quality: 0.98 },
        html2canvas: { scale: 2, letterRendering: true },
        jsPDF: { orientation: 'landscape' }
      }
      
      //Save to firebase storage.
      html2pdf().from(report).set(opt).outputPdf().then(function (pdf) {
        //Create pdf url.
        const pdf_url = `${userid}/${patientid}/${name}.pdf`;
        // Save pdf as base64 file.
        const ref = firebase.storage().ref(pdf_url);
        ref.putString(btoa(pdf), 'base64');

        delay(10000).then(function(){
          //Download URL.
          firebase.storage().ref(pdf_url).getDownloadURL()
          .then((url) => {
            console.log("here,"+url);
            const path = `/save_pdf?pid=${patientid}&ct=${name}`;
            //Fetch response.
            fetch(path, {
              method: "POST",
              credentials: "include",
              body: JSON.stringify(url),
              cache: "no-cache",
              headers: new Headers({
                "content-type": "application/json"
              }
              )
            });
          })
          .catch((error) => {
            // Handle any errors
          });
        });
  
      });
      
      //On button click.
      this.document.getElementById("download").addEventListener("click", () => {
        html2pdf().from(report).set(opt).save();
      });
    };
  
    function delay(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }
    
  
  </script>