<div class="navside border-right" id="sidebar-wrapper">
    <img class="img-logo center" src="{{ url_for('static', filename='Logo.svg') }}">
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action side-txt"><i class="fas fa-columns"></i> Dashboard</a>
      <input type="hidden" id="uid" name="uid">
      <a href="javascript:patientsUid();" class="list-group-item list-group-item-action side-txt"><i class="fas fa-users"></i> Patients</a>
    </div>
</div>

