<div class="navblue border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action side-txt">Dashboard <i class="fas fa-columns"></i></a>
      <a href="/diagnose" class="list-group-item list-group-item-action side-txt">Diagnose <i class="fas fa-heartbeat"></i></a>
      <a href="#" class="list-group-item list-group-item-action side-txt">Patients <i class="fas fa-users"></i></a>
    </div>
</div>