{% extends 'layout.html' %}

{% block body %}
  <div id="loading" style="display:none"><img src="{{ url_for('static', filename='three-dots.svg') }}" alt="" /></div>

  <div class="mt-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/patients">Patients</a></li>
        <li class="breadcrumb-item"><a href="">Diagnose</a></li>
      </ol>
    </nav>
  </div>
  <h3 class="mt-3"><i class="fas fa-heartbeat"></i> Diagnose Patient</h3>
  <p>Fill out the form to diagnose whether the patient suffers from a cardiovascular disease.</p>
  {% include 'includes/_diagnose_form.html' %}
{% endblock %}