{% extends 'index_layout.html' %}

{% block body %}
    {# Loading #}
    <div id="loading" style="display:none"><img src="{{ url_for('static', filename='three-dots.svg') }}" alt="" /></div>

    <div class="col-12 align-items-center">
        <h3 class="mt-3"><i class="fas fa-heartbeat"></i> Diagnose</h3>
        <p>Fill out the form to diagnose whether the patient suffers from a cardiovascular disease.</p>
        
        <!-- Include diagnosis form. -->
        {% include 'includes/_diagnose_no_login.html' %}
    </div>

{% endblock %}