{% extends 'layout.html' %}

{% block body %}
<div class="row mt-3">
  <div class="col">
    <div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Patients</a></li>
        </ol>
      </nav>
    </div>
  </div>

  <div>
    <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
  </button>
    {# <button class="btn btn-primary"><i class="fas fa-user"></i> Add new patient</button>     #}
  </div>
</div>


{% include 'includes/_patients_table.html' %}
{% include 'includes/_add_patient_modal.html' %}

{% endblock %}