{% extends 'layout.html' %} {% block scripts %} {% endblock %} {% block body %}

<div class="button-right">
  <button class="btn btn-primary mt-3" id="download">
    <i class="fas fa-download"></i> PDF
  </button>
</div>

<h2 class="mt-5 mb-5 text-center">{{pred}}</h2>

<div class="mb-5">{{exp|safe}}</div>

{% include 'includes/_graphs.html' %} {% include 'includes/_add_message.html' %}

<script>
  window.onload = function () {
    const report = this.document.getElementById("report");
    name = {{ ct | tojson }};
    console.log(name);
    var opt = {
      filename: name,
      image: { type: 'jpeg', quality: 0.98 },
      html2canvas: { scale: 2, letterRendering: true },
      jsPDF: { orientation: 'landscape' }
    }

    html2pdf().from(report).set(opt).outputPdf().then(function (pdf) {
      // TSave pdf as base64 file.
      const ref = firebase.storage().ref(`image/${name}.pdf`);
      ref.putString(btoa(pdf), 'base64');
    });

    firebase.storage().ref(`image/${name}.pdf`).getDownloadURL()
      .then((url) => {
        window.open(url, "_blank");
      })
      .catch((error) => {
        // Handle any errors
      });

    //On button click.
    this.document.getElementById("download").addEventListener("click", () => {
      html2pdf().from(report).set(opt).save();
    });
  }
</script>
{% endblock %}