{% extends 'layout.html' %}
{% block scripts %}{% endblock %}
{% block body %}

	{# Download PDF. #}
	<div class="button-right">
		<button class="btn btn-primary mt-3" id="download">
			<i class="fas fa-download"></i>
			PDF
		</button>
	</div>

	<div id="pdf-alert" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
		<span><p class="text-center">Please do not redirect! Generating and saving PDF.</p></span>
	</div>

	{# Prediction. #}
	<h2 class="mt-5 mb-5 text-center">{{pred}}</h2>

	{# Explainable AI. #}
	<div class="mb-5">{{exp|safe}}</div>

	{# Indlude Graphs #}
	{% include 'includes/_graphs.html' %}

	{# Include message box #}
	{% include 'includes/_add_message.html' %}

	{# Add download PDF functionality #}
	{% include 'includes/_pdf.html' %}

{% endblock %}


