{% extends 'layout.html' %}

{% block body %}
    {# <h1>{{prob}}</h1> #}
    <h2 class="mt-5 mb-5 text-center">{{pred}}</h2>
    
    <canvas id="myChart"></canvas>

    <script>
        var dataX = {{ data|tojson }};
        var ctx = document.getElementById("myChart").getContext("2d");
        var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: "radar",
        
          // The data for our dataset
          data: {
            labels: [
              "Resting Blood Pressure",
              "Cholestrol",
              "Max Heart Rate"
            ],
            datasets: [
              {
                label: "Patient Values",
                pointBackgroundColor: "rgb(0, 0, 0,0.2)",
                borderColor: "rgb(0, 0, 0)",
                data: dataX,
              },
              {
                label: "Average Healthy Values",
                pointBackgroundColor: "rgb(0, 255, 0,0.3)",
                borderColor: "rgb(0, 255, 0)",
                data: [129.79, 231.65, 150.89],
              },{
                label: "Average Cardio Values",
                pointBackgroundColor: "rgb(255, 0, 0,0.3)",
                borderColor: "rgb(255, 0, 0)",
                data: [134.25, 191.37, 129.77],
              },
            ],
          },
        
          // Configuration options go here
          options: {},
        });
    </script>
{% endblock %}
